# Temporary files for build
prod/composer/cache/
prod/composer/vendor/
prod/composer/composer.lock
prod/composer/composer.phar
prod/system/modules/
prod-phar/composer/cache/
prod-phar/composer/vendor/
prod-phar/composer/composer.lock
prod-phar/composer/composer.phar
prod-phar/system/modules/
dev/composer/cache/
dev/composer/vendor/
dev/composer/composer.lock
dev/composer/composer.phar
dev/system/modules/
dev-phar/composer/cache/
dev-phar/composer/vendor/
dev-phar/composer/composer.lock
dev-phar/composer/composer.phar
dev-phar/system/modules/
dist/

# OS
.DS_Store
Thumbs.db

# IDEs 
.buildpath
.project
.settings/
.build/
.idea/
nbproject/

# Composer
vendor/
